bin/
obj/
out/

.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

*.log
*.tss
*.pdb
*.mdb

*.nupkg
*.snupkg
*.nuspec
packages/
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
.nuget/

TestResults/
*.Cache/
*.temp/
*.tmp
*.ide/

*.dbmdl
*.jfm
ReSharper*/
_Resharper*/
*.sln.ide
.idea/
*.sln.iml
.idea_modules/

*.ttf